body
{
  margin:0;
  margin-top:-24px;
}
.chart-container
{
  width: 75%;
  margin-left: 12.5%;
  margin-bottom: 2%;
}
.control-container
{
  width: 50%;
  margin:0 auto;
}
.control-container form{
  float:left;
}
.main-container
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
}
ul.clientList
{
  width: 50%;
  margin-bottom:-25px;  
}

ul.clientList li.notReady
{
  color:red;
}
ul.clientList li.ready
{
  color:green;
}

p.display-big
{
  font-size:56px;
}

ul.clientList li
{
  display:block;
  float:left;
}

.mdl-button
{
  margin:5px;
  margin-top:25px;
  float:left;
}

.botonera
{
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: center;
}

.text-center
{
  text-align: center;
}
